{# src/Teamate/MatchBundle/Resources/views/Default/create.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Créer mon match{% endblock %}

{% block body %}


<div class="breadcrumb">
    <div class="center-block" style="width: 700px;">
        <div class="row">
            <p>1.je crée mon match</p>
            <p>2.je parametre</p>
            <p>3.j'invite des joueurs</p>
        </div>
        <img class="center-block" src="{{ asset('img/breadcrumb.png') }}" alt="breadcrumb">
    </div>
</div>

<div class="wrap">
    <form action="" method="post">
        <div class="row maptool">
            <div class="col-md-4" style="padding: 45px;">
                <select class="selectpicker" style="width: 150px;">
                    <option data-content="<span class='label label-success'>Relish</span>">Ville</option>
                    <option>Paris</option>
                    <option>Lyon</option>
                    <option>Marseille</option>
                </select>
                <select disabled style="width: 150px;">
                    <option>Terrain</option>
                </select>
            </div>
            <div class="col-md-8">
                <div class="col-md-6 coords">
                    <img class="right" src="{{ asset('img/marker_white.png') }}" alt="marker">
                    <p>
                        <span>
                            Coordonées pour effectuer la réservation<br>
                            URBAN PUTEAUX<br>
                            01 48 74 20 52
                        </span>
                    </p>
                </div>
                <div class="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>La date </p>
                <input type="date" id="date">
            </div>
            <div class="col-md-4">
                <p>Commence à </p>
                <input type="time" id="start">
            </div>
            <div class="col-md-4">
                <p>Se termine à </p>
                <input type="time" id="end">
            </div>
        </div>
        <div class="tight-wrap">
            <div class="row form-group">
                <div class="col-md-6">
                    Le format
                </div>
                <div class="col-md-6">
                    <select>
                        <option>5 vs 5</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    Le type de terrain
                </div>
                <div class="col-md-6">
                    <select>
                        <option>Intérieur</option>
                        <option>Extérieur</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    Le niveau
                </div>
                <div class="col-md-6">
                    <select>
                        <option>Tous niveaux</option>
                        <option>Débutant</option>
                        <option>Confirmé</option>
                        <option>Expert</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    Votre match est
                </div>
                <div class="col-md-6">
                    <select>
                        <option>Régulier</option>
                        <option>Unique</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <input type="radio" name="regularity" value="automatic">
                Chaque semaine, une invitation est envoyée automatiquement aux même joueurs 5 jours
                avant le match.<br>
                <input type="radio" name="regularity" value="manual">
                Je réinvite les joueurs manuellement à chaque fois.<br>
            </div>
            <div class="row">
                Fermeture des inscriptions
                <input type="number" name="subscribtions_end" style="width: 60px;">
                jours avant le match*.<br>
                <small>*Doit correspondre à la date limite d'annulation sans frais de votre réservation.</small>
            </div>
        </div>

        <input type="submit" class="submit btn-danger" value="SUIVANT">
    </form>
</div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.js') }}"></script>
    <script>
        $('.selectpicker').selectpicker();
    </script>
{% endblock %}
