

<div class="button-group">
    <a href="{{ path('rc_teamate_homepage') }}"><div>Accueil</div></a>
    <a href=""><div>{{ app.user.username }}</div></a>
    <a href="{{ path('logout') }}" ><div>Déconnexion</div></a>
</div>